extends layout

block content
  h1= title
  p Welcome to the Austin Restaurant Inspection Guide
  a(href="https://data.austintexas.gov/dataset/Restaurant-Inspection-Scores/ecmv-9xxi") Dataset here
  div(id='map-canvas', style='width: ' + 100 + '%; height: ' + 100 + '%')

