doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyA5YT2hlZ2ainVUOszVJZHkAOCVL3uRc0U')
    script(src='/javascripts/angular-google-maps.min.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/global.js')
  body
    block content

