html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

